.navbar {
    display: flex;
    justify-content: center;
    background-color: #efebe5;
    padding: 10px;
}

.navbar a {
    color: #623e2a;
    text-decoration: none;
    font-family: "cocogothic", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #90caf9;
}

@font-face {
    font-family:"CocoGothic";
    src: url("./cocogothic.ttf");
}