.navbar {
    display: flex;
    justify-content: center;
    background-color: #efebe5;
    padding: 10px;
}

.navbar a {
    color: #623e2a;
    text-decoration: none;
    font-family: "CocoGothicLight", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #000000;
}

@font-face {
    font-family:"CocoGothicLight";
    src: url("./cocogothic/CocoGothic_trial.ttf") format("truetype");
}