html {
	background-color: #f4f1ed;
}

h2, p, li {
	color: #623e2a;
	
}

p, li {
	line-height: 2;
	font-family:  "Lucida Console", "Courier New", monospace;
	font-size: 14px;
}

.forside__boks__header {
	padding-top: 0px;
	padding-bottom: 10px;
	
	font-size: 50px;
}

.forside__boks {
	margin-top: 160px;
	margin-left: 80px;
	
	width: 600px;
	height: 400px;
	
	padding: 40px;
	padding-top: 5px;
	
	border-radius: 75px;
	
	background-color: #f5ebdd;	
}
.forside__boks2{
	text-align: left;
	text-indent: 20px;
	
	margin-top: 160px;
	margin-left: 50px;
	margin-right: 50px;
	
	width: 700px;
	height: 420px;

	border-radius: 50px;
	
	padding-left: 15px;
	
	background-color: #f5ebdd;	
}

.forside_boks2 ,p,h2{
	text-align: center;
	font-weight: bold;
}

ul li {
	line-height: 3.5;
}

ul li::marker {
	/*gjør om punktet i listen til noe penere <3*/
  content:"🔹 ";
  font-size: 15px;
}
.housekey {
	/*gjør bilde om til et pentagon :D jeg klarer ikke å runde hjørnene :/*/
	clip-path: polygon(50% 0%, 100% 38%, 75% 100%, 25% 100%, 0% 38%);
	
	margin-left: 20px;
}
.forside__button{
	
}


.forside__fairytale {
	margin-top: 100px;
	margin-right: 120px;
}

.forside__bilde__fairytale {
	border-radius: 15px;
}
button {
	font-size: 20px;
	color: #f5ebdd;
	background-color: #623e2a;
}

.forside__3__button_1 {
	margin-top: 45px;
	
	padding: 20px;
	border: none;
	border-radius: 15px;
	
	width: 200px;
}

.forside__bilde__tekst {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.forside_bilde2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 40px;
	margin-right: 120px;
}

.forside__3__button_2 {
	border: none;
	border-radius: 10px;
	margin-left: 75px;
	
	width: 250px;
}

.forside__3__button_3{
	
	padding: 10px;
	padding-top:15px;
	padding-bottom:15px;
	
	border-radius: 10px;
	margin: 20px;
	margin-left: 35px;
		
	width: 300px;	
}

.flexboks {
	display: flex;
	justify-content: space-between;
	
	
}